<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.demo.dao.InquiryDao">
<select id="getAll" resultType="com.example.demo.entity.Inquiry">
	SELECT *

	FROM

	inquiry

</select>
<insert id="insertInquiry" parameterType="com.example.demo.entity.Inquiry">
	
	INSERT INTO inquiry(name, email, contents, created)
	VALUE(#{name},#{email},#{contents},#{created})
	
	

</insert>


</mapper>